/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

/* colors */
:root {
    --color-1: #d2f3f3; /* background body */
    --color-2: #003547; /* background cards */
    --color-3: #c9cb55; /* buttons mobile add */
    --color-4: #f9774b; /* sutilezas */
    --color-5: #00aced; /* buttons add e enviar etc. */
    --color-6: #fefefe; /* letras para background escuro */
    --color-7: #fc4141; /* buttons cancelar */
    --color-8: #487a6d; /* letras spans*/
    --color-9: #00080a; /* letras para background claro */
    --color-10: #0e44a8;
    --color-11: #f7f7f7;
    --color-12: #384a50;

    --box-shadow-animation: 0.2em 0.2em 0.2em #00080a6d;
    --color-instagram: linear-gradient(to bottom right, #4f5bd5 1%, #962fbf, #d62976, #fa7e1e, #feda75);
}

/* main {
    margin-top: 5rem;
} */

body {
    background-color: var(--color-1);
    color: var(--color-2);
}

a {
    color: var(--color-2);
}

